.rating {
  .score { float: left; }
  .star {
    background-size: contain;
    background-image: image-url('star.png');
  }
  .star_empty {
    background-size: contain;
    background-image: image-url('star_empty.png');
  }
}
